mat-toolbar {
  position: fixed;
  top: 0;
  z-index: 100;
}

.full {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* Padding-left is 192 to subtract the button padding */
  padding: 0 200px 0 192px;
}

.full nav ul {
  display: flex;
  gap: 6px;
}

ul li a {
  color: #fff;
  text-decoration: none;
  padding: 8px;
  background-color: transparent;
  font-weight: normal;
  border-radius: 4px;
}

ul li a.active {
  background-color: #0376bd;
}


.search-container {
  border-bottom: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-container input {
  background-color: transparent;
  border: none;
  color: #fff;
}

mat-icon {
  cursor: pointer;
}

button {
  background-color: transparent;
  border: none;
  color: #fff;
}

.mat-toolbar {
  padding: 0;
}
