mat-toolbar {
  position: fixed;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
}

.header-full {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  max-width: 1720px;
}

.header-full nav ul {
  display: flex;
  gap: 6px;
}

ul li a {
  color: #fff;
  text-decoration: none;
  padding: 8px;
  background-color: transparent;
  font-weight: normal;
  border-radius: 8px;
}

ul li a.active {
  background-color: #0074bb;
}


.right-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

.right-container input {
  background-color: transparent;
  border: none;
  color: #fff;
  height: 36px;
  font-size: 1rem;
}

.right-container .input-container {
  border-bottom: 1px solid #fff;
}

mat-icon {
  cursor: pointer;
}

button {
  background-color: transparent;
  border: none;
  color: #fff;
}

.mat-toolbar {
  padding: 0;
}

.right-container .profile {
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 4px;
  cursor: pointer;
}

.profile-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-container .profile-container img {
  width: 40px;
}

.profile-name {
  font-size: 1.1rem;
  color: #fff;
}

.divider {
  height: 20px;
  width: 1px;
  background-color: #fff;
}

.logout {
  height: 56px;
  width: max-content;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
