<mat-toolbar color="primary" class="mat-toolbar">
  <div class="full">
    <nav>
      <ul class="unselectable">
        <li matRipple>
          <a
            [routerLink]="['/']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}"
            >
            Home
          </a>
        </li>
        <li matRipple>
          <a
            [routerLink]="['/categories']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}"
            >
            Categories
          </a>
        </li>
        <li matRipple>
          <a
            [routerLink]="['/contact']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}"
            >
            Contact
          </a>
        </li>
        <li matRipple>
          <a
            [routerLink]="['/']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}"
            >
            About
          </a>
        </li>
      </ul>
    </nav>

    <div class="search-container">
      <input type="text" placeholder="Type something.." #searchInput>
      <button mat-icon-button aria-label="Search" (click)="onClick()">
        <mat-icon>search</mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>
