mat-toolbar {
  position: fixed;
  top: 0;
  z-index: 100;
}

.full {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* Padding-left is 192 to subtract the button padding */
  padding: 0 200px 0 192px;
}

.full nav ul {
  display: flex;
  gap: 6px;
}

ul li a {
  color: #fff;
  text-decoration: none;
  padding: 8px;
  background-color: transparent;
  font-weight: normal;
  border-radius: 4px;
}

ul li a.active {
  background-color: #0376bd;
}


.right-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

.right-container input {
  background-color: transparent;
  border: none;
  color: #fff;
  height: 36px;
  font-size: 1rem;
}

.right-container .input-container {
  border-bottom: 1px solid #fff;
}

mat-icon {
  cursor: pointer;
}

button {
  background-color: transparent;
  border: none;
  color: #fff;
}

.mat-toolbar {
  padding: 0;
}

.right-container .profile {
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 4px;
  cursor: pointer;
}

.profile-container {
  position: relative;
}

.right-container .profile-container img {
  width: 40px;
}


.profile-name {
  font-size: 1.1rem;
}

.profile-nav {
  position: absolute;
  width: 100%;
  top: calc(100% + 4px);
  left: 0;
  display: none;
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
  border: 1px solid #aaa;
  border-top: none;
}

.profile-nav.opened {
  display: block;
}

.profile-nav ul {
  flex-direction: column;
  gap: 0px !important;
}

.profile-nav a {
  cursor: pointer;
  padding: 5px 10px;
}
.profile-nav a:not(:last-of-type) {
  border-bottom: 1px solid #aaa;
}

.profile-nav a {
  background-color: #3f51b5;
  font-size: 0.9rem;
  font-weight: normal;
  color: #fff;
}

.profile-nav li {
  margin: 0;
}
