<div class="content">
  <main class="unique">
      <section class="categories-container">
        <div *ngFor="let categoryPost of categoryPosts" class="category-posts">
          <div *ngIf="categoryPost.posts.length > 0">
          <h2 matRipple (click)="seeMorePosts(categoryPost.category)">
            {{ categoryPost.category.getName() }}
          </h2>
          <div class="mini-posts-container">
            <app-post-card-mini class="card" *ngFor="let post of categoryPost.posts" [post]="post"></app-post-card-mini>
          </div>
          <button
            mat-raised-button
            color="primary"
            type="button"
            class="previous"
            appSlidePrevious
          >
            Prev
          </button>
          <button
            mat-raised-button
            color="primary"
            type="button"
            class="next"
            appSlideNext
          >
            Next
          </button>
        </div>
        </div>
      </section>
  </main>
</div>
