<div class="content">
  <main *ngIf="postList != []">
    <h1 class="main-title">{{ "Posts of " + category.getName() }}</h1>
    <div *ngIf="!isLoading" class="posts-container">
      <div *ngFor="let post of postList; index as index">
        <mat-divider *ngIf="index != 0"></mat-divider>
        <app-post-card-big [post]="post"></app-post-card-big>
      </div>
    </div>
    <div *ngIf="isLoading" class="posts-container">
      <app-post-card-loading *ngFor="let post of postList"></app-post-card-loading>
    </div>
  </main>

  <app-aside></app-aside>
</div>
