<div class="modal-body">
  <h1 mat-dialog-title>Change password</h1>
  <mat-dialog-content>
    <form [formGroup]="form">
      <mat-form-field>
        <mat-label>Confirm old password</mat-label>
        <input formControlName="oldPassword" #password matInput [type]="oldPasswordHide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="oldPasswordHide = !oldPasswordHide"
          [attr.aria-label]="'Hide password'" [attr.aria-pressed]="oldPasswordHide">
          <mat-icon>{{oldPasswordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="form.get('oldPassword').invalid">Invalid value.</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>New password</mat-label>
        <input formControlName="newPassword" #password matInput [type]="newPasswordHide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="newPasswordHide = !newPasswordHide"
          [attr.aria-label]="'Hide password'" [attr.aria-pressed]="newPasswordHide">
          <mat-icon>{{newPasswordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="form.get('newPassword').invalid">Invalid value.</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Repeat new password</mat-label>
        <input formControlName="repeatNewPassword" #password matInput
          [type]="repeatNewPasswordHide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="repeatNewPasswordHide = !repeatNewPasswordHide"
          [attr.aria-label]="'Hide password'" [attr.aria-pressed]="repeatNewPasswordHide">
          <mat-icon>{{repeatNewPasswordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="form.get('newPassword').invalid">Invalid value.</mat-error>
      </mat-form-field>

      <button type="submit" color="primary" [disabled]="form.invalid" mat-raised-button>
        Login
        <mat-icon iconPositionEnd>send</mat-icon>
      </button>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button (click)="close()">Close</button>
  </mat-dialog-actions>
</div>
