/* You can add global styles to this file, and also import other style files */

/* Material */
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Material */

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.content {
  display: flex;
  justify-content: space-between;
  gap: 52px;
  width: 80%;
  max-width: 1720px;
  padding: 40px 0;
  min-height: calc(100vh - 216px);
  /* 198px of the footer */
  margin: 50px auto 0 auto;
}

.content main {
  flex-basis: 70%;
  max-width: 700px;
}

.content app-aside {
  flex-basis: 30%;
}

/* Makes the text unselectable */
.unselectable {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}

.content .unique {
  flex-basis: 100%;
  max-width: 100%;
}

.posts-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 38vh;
  transition: 0.3s ease;
}

.modal-body h1 {
  text-align: center;
  color: #a2a2a2;
}
