<div>
  <div class="comment-header">
    <div class="user-container">
      <img class="user-picture" [src]="getImagePath()">
      <span>{{ comment.getUser().getUsername() }}</span>
    </div>

    <div class="right-container">
      <div class="delete-container" mat-ripple (click)="deleteComment()">
        <mat-icon *ngIf="isShowDelete" class="unselectable delete-comment">delete</mat-icon>
      </div>

      <div class="dates-container">
        <span>{{ comment.getDate() | date }}</span>
        <span *ngIf="comment.getEditedDate != null">{{ comment.getEditedDate() | date }}</span>
      </div>
    </div>
  </div>

  <div class="comment-body">
    <p>{{ comment.getContent() }}</p>
  </div>

  <div class="comment-footer">
    <div class="like" (click)="likeComment()" matRipple>
      <mat-icon [style.color]="comment.getIsLiked() ? 'blue': 'black'" class="unselectable">thumb_up</mat-icon>
    </div>
    <span>{{ comment.getLikes() != 1 ? comment.getLikes() + ' likes' : '1 like' }}</span>
  </div>

  <div #newComment></div>
</div>
