<footer>
  <p class="acknowledgment">Thanks for visiting!</p>
  <div class="footer-content">
    <ul class="links">
      <li><a [routerLink]="['']">Site map</a></li>
      <li><a [routerLink]="['']">Privacy Politics</a></li>
      <li><a [routerLink]="['']">Contact</a></li>
    </ul>
    <div class="social-media-container">
      <p>Social media</p>
      <ul class="social-media">
        <li>
          <a [routerLink]="['']" matRipple>
            <img src="../../../assets/img/facebook.png" alt="Check our Facebook page">
          </a>
        </li>
        <li>
          <a [routerLink]="['']" matRipple>
            <img src="../../../assets/img/twitter.webp" alt="Check our Twitter page">
          </a>
        </li>
        <li>
          <a [routerLink]="['']" matRipple>
            <img src="../../../assets/img/telegram.webp" alt="Check our Telegram page">
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="copyright-container">
    <p class="copyright">© Copyright GDDario. All rights reserved.</p>
  </div>
</footer>
