.categories-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
}

li {
  padding: 16px;
  cursor: pointer;

}

li:not(:last-of-type) {
  border-bottom: 1px solid #e0e0e0;
}
