main {
  display: flex;
  width: 100%;
}

aside {
  height: 100%;
  padding: 0 16px;
  border-right: 1px solid #e0e0e0;
  margin-right: 16px;
}

a {
  display: block;
  padding: 4px;
  border-radius: 4px;
}

a:last-of-type {
  margin-top: 10px;
}

a.active {
  background-color: #e0e0e0;
}
